* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
}
body {
    display: flex;
    justify-content: center;
}
img {
    height: 100vh;
    width: 100vw;
    display: block;
}
.outline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(11, 11, 11, 0.8);
}
.container {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
button {
    width: 100px;
    height: 100px;
    margin: 5px;
    background: rgba(15, 5, 1, 0.5);
    border: 2px solid rgb(223, 226, 29);
    border-radius: 15%;
    font-size: 26px;
    font-weight: 700;
    color: rgb(223, 226, 29);
    box-shadow: 0px 1px 4px;
    transition: font-size 0.1s border 0.3s;
}
button:hover {
    border: 3px solid rgb(219, 223, 20);
    transition: border 0.5s;
    font-size: 28px;
    transition: all 0.1s;
}
button:active {
    font-size: 44px;
    border: 10px solid rgb(223, 226, 29);
    transition: font-size 0.1s, border 0.25s;
}
.playing {
    box-shadow: 4px 2px 30px;
    font-size: 44px;
    transform: scale(1.1) rotateZ(5deg);
    transition: all 0.1s;
}
